.change-info {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    &-form {
        width: 100%;
        flex: 1;
        background-color: #fff;
        padding: 15px;

        .MuiTextField-root {
            width: 100% !important;
            margin-bottom: 10px;
        }
    }
}