.admin-home {
    width: 100%;
    display: flex;

    &-left {
        flex-shrink: 0;
        width: 300px;
    }

    &-right {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .account-info {
        flex-shrink: 0;
        display: inline-block;
        width: 300px;
        height: 200px;
        border: 1px solid #e8e8e8;
        border-radius: 2px;


        &-avatar {
            margin: 20px;
            color: #f56a00;
            background-color: #fde3cf;
        }

        &-name {
            display: inline-block;
            font-size: 20px;
            font-weight: 600;
        }

        &-last-date {
            margin-bottom: 15px;
            margin-left: 20px;
        }

        &-last-address {
            margin-left: 20px;
        }
    }

    &-calendar {
        width: 300px;
        margin-top: 30px;
        border: 1px solid #e8e8e8;
        border-radius: 2px;
    }

    &-card-group {
        display: flex;
    }

    &-statistics {
        flex-grow: 1;
        margin-left: 15px;
        width: 200px;
        height: 150px;
        font-size: 26px;
        text-align: center;
    }

    .admin-home-chart {
        flex-grow: 1;
        margin-left: 15px;
        margin-top: 20px;
        border: 1px solid #e8e8ee;
        border-radius: 2px;
    }
}